

html, body {   margin: 0;
  height: 100% }

	.nametitile {  text-align: center;

  height: 10%;
}


.red {
  width: 95%;  height: 50px;
	background-color: rgb(164, 55, 58); margin: auto;
	margin-bottom: 20px;
		}

.back 
	{
	margin-left: 10px;
   padding-top: 5px;
  height: 40px;
	width: auto;
}

.text-image {
  width: 95%; height: 33vw;
	margin: auto; overflow: hidden;
}
.text   {
  width: 55%;
 float: left;   font-size: 1.5vw;
 margin-left: 20px;
}

.more {  visibility: hidden 
}

.readmore:focus + .more {
 visibility: visible;
}

.image {
  width: 40%;
	float: left; position: relative;
}
.image img {
 width: 30vw; height: 30vw;
 position:   absolute;
 right: 20px;
}
	.square {
 width: 30vw;
  height: 30vw;
	position: absolute;
 right: 0;
	top: 20px;
	background-color: rgb(164, 55, 58) }

.sort {
	position: relative;
	width: 30%;
}
.filter {
 position: relative;
	top: 6px;
 width: 30% }

.gallery {
 width: 95%; margin: auto;
}
.gallery img {
 width: 31.333%; margin: 1%;
	float: left; }
	